###############################################
# JAVA STUFF
###############################################

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

###############################################
# MAVEN STUFF
###############################################

target/

###############################################
# INTELLIJ STUFF
###############################################

*.iml
.idea/

###############################################
# ECLIPSE STUFF
###############################################

.classpath
.project
.settings/

###############################################
# GRADLE STUFF
###############################################

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

###############################################
# BACKSLIDE STUFF
###############################################

.tmp

###############################################
# MISC STUFF
###############################################

*~

